<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Framework bootstrap CSS-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Fonts google-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--CSS Personalizado-->
  <link rel="stylesheet" href="../css/main.css">
  <title>Foodmap-Platos</title>
</head>
<body>
 

  <!--Enlazamos JQuery-->
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--Base de datos JSON-->
  <script src='../js/data.js'></script>
  <!--Enlazamos app.js para darle funcionabilidad a nuestra estructura-->
  <script src="../js/restaurante.js"></script>
</body>
</html>