<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Framework bootstrap CSS-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Fonts google-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--CSS Personalizado-->
  <link rel="stylesheet" href="../css/main.css">
  <title>Restaurante</title>
</head>
<body>
  <!--SECTION HEADER-->
  <header class="bg-reverse">
    <!--NAVIGATOR-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">  
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  
          <h1 class="title">Foodmap</h1>                
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" style="">
          <ul class="nav navbar-nav navbar-right">
            <li class="letter-white"><a href="#">Iniciar sesión</a></li>
            <li class="register"><a href="#">Registrate</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- CARUSEL -->
    <div class="">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicadores -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!--Contenedor de los slide-->
        <div class="carousel-inner" role="listbox">
          <div class="item active"><img src="../assets/images/platos/principal2.jpg" class="img-responsive adaptar" alt="imagen1"></div>
          <div class="item"><img src="../assets/images/platos/principal.jpg" class="img-responsive adaptar" alt="imagen2"></div>
          <div class="item"><img src="../assets/images/platos/principal3.jpg" class="img-responsive adaptar" alt="imagen3"></div>
        </div>
      
        <!-- Formulario Filtrar restaurantes -->
        <form class="" id="searchForm">
          <div class="form-group col-sm-4 col-sm-offset-4">
            <div class="filtrarRestaurant input-group input-group-lg center-block">
              <h3 class="letter-white">Encuentra los mejores restaurantes de comida peruana cerca a ti</h3>
              <input type="text" class="form-control" placeholder="Ejm. Miraflores.">
              <span class="input-group-btn">
                <button class="btn btn-success btn-lg active" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
        </form>
          <!-- <div class="filtrar">
              <div class=" col-xs-12 ">
                <div class="col-xs-12 col-md-6 col-md-offset-3 filer">
                  <h2 class="letter-white">Encuentra los mejores restaurantes de cocina peruana en Lima</h2>
                  <form class="" id="searchForm">
                    <div id="filtrarRestaurant" class="form-group input-group">
                      <input type="text" class="form-control " placeholder="Selecciona un distrito...">
                      <span class="input-group-btn">
                      <button class="btn btn-success btn-lg active" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div> -->
      <!-- </div></div> -->
      </div>
    </div>
  </header>

  <main>
    <!-- SECCION COSTA-->
    <section>
      <div class="container hide">
        <div class="row">
          <div id="restaurant-container" class="col-xs-12 col-md-12" >
          </div>
        </div>
    </section>
  </main>
  <footer>
    <p></p>
  </footer>
  
  <!--Enlazamos app.js para darle funcionabilidad a nuestra estructura-->
  <script type="text/javascript" src="../js/restaurante.js"></script>
  <!--Enlazamos JQuery-->
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--Base de datos JSON-->
  <script src='../js/data.js'></script>
</body>
</html>